@import "../../core/layout/theme";

@mixin inputNumber($width, $height: auto) {

  width: $width;
  padding-right: 0px;
  box-sizing: border-box;
  height: $height;
  display: flex;
  align-items: center;
  .hu-input{
    box-sizing: border-box;

    background: transparent;
    max-width: 100%;
    height: auto;
    @include normalText();
    &::placeholder {
      @include normalText();
    }
    border: 0;
    border-bottom:  1px solid $color-normal-lightYellow;
    padding: 0 8px 7px 8px;
  }
}