@import "../../core/layout/theme";

@mixin inputText($width, $height: 100%) {
  display: inline-block;
  width: $width;
  padding-right: 16px;
  label{
    display: inherit;
    max-width: 100%;
  }
  .hu-input{
    display: inherit;
    background: transparent;
    max-width: 100%;
    height: $height;
    @include normalText();
    &::placeholder {
      @include normalText();
    }
    border: 0;
    border-bottom:  1px solid $color-normal-lightYellow;
    padding: 0 8px 7px 8px;
  }
}