@font-face {
  font-family: "IBMPlexSansThai";
  src: url("/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  background-color: #1C1C1C;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

hu-navbar {
  position: fixed;
  width: 107.5%;
  height: 17.188%;
  z-index: 10;
  left: -3.889%;
  top: 88.75%;
  background: #111111;
  border-radius: 203px;
}
hu-navbar .navbar_icons {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 18.18%;
}
hu-navbar .navbar_icons div {
  padding: 0 9.167%;
}
hu-navbar .navbar_icons div.current {
  background-color: #FEE402 !important;
}
hu-navbar .navbar_icons #navbar_stats {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/core/assets/svg/bar-chart.svg");
  -webkit-mask-image: url("/core/assets/svg/bar-chart.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_calender {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/core/assets/svg/calendar.svg");
  -webkit-mask-image: url("/core/assets/svg/calendar.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_settings {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/core/assets/svg/cog.svg");
  -webkit-mask-image: url("/core/assets/svg/cog.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.hiddenScreen {
  visibility: hidden !important;
}

/*# sourceMappingURL=main.css.map */
