@import "../../elements/navbar/navbar";
@import "../../elements/button/button";
@import "../../elements/toggleButton/toggleButton";
@import "../../elements/dropdown/dropdown";
@import "../../elements/inputText/inputText";
@import "../../elements/inputDate/inputDate";
@import "../../elements/inputTime/inputTime";
@import "../../elements/calenderVisual/calenderVisual";
@import "../../elements/pieChart/pieChart";

@include resetDefaultPage();

html{
  background-color: $color-normal-grey;
}

hu-navbar{
  @include navbar();
}

hu-inputdate{
  @include inputDate(36.39vw);
}

hu-dropdown{
  @include dropdown(83.5vw,41px)
}
hu-piechart{
  @include pieChart(20.15vh,20.15vh,$color-normal-lightYellow,$color-normal-yellow)
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}
//Title Section
#title{
  margin-top: 5vh;
  h1{
    margin: 0;
    @include largeHeading();
  }
}

//Selection Section
#selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.75vh;

  #selection-dates {
    margin-top: 2.1875vh;
    width: 83.5vw;
    display: flex;
    justify-content:space-between;
    #selection-date-to {
      @include normalText();
    }
  }
}

.stats-text{
  @include normalText();
  margin-bottom: 1vh;

}
#statistics{
  margin-top: 4.6vh;
  height: 51vh;
  width: 83.5vw;
  h2{
    @include smallHeading();
    margin:0
  }

  #stats-diagram-data{
    margin-top: 2.2vh;
    width: 100%;

    display: flex;
    #stats-data{
      margin-left: 3.8vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #stats-average{
    margin-top: 2.2vh;

    #stats-average-data{
      margin-top: 2.2vh;
      display: flex;
      flex-direction: column;

    }
  }
}

