@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #1B1B1B;
}

hu-navbar {
  position: absolute;
  width: 107.5%;
  height: 17.188%;
  left: -3.889%;
  top: 88.75%;
  background: #111111;
  border-radius: 203px;
}
hu-navbar .navbar_icons {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 18.18%;
}
hu-navbar .navbar_icons div {
  margin: 0 9.167%;
}
hu-navbar .navbar_icons div.current {
  background-color: #FEE402 !important;
}
hu-navbar .navbar_icons #navbar_stats {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("../../elements/navbar/assets/bar-chart.svg");
  -webkit-mask-image: url("../../elements/navbar/assets/bar-chart.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_calender {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("../../elements/navbar/assets/calendar.svg");
  -webkit-mask-image: url("../../elements/navbar/assets/calendar.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_settings {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("../../elements/navbar/assets/cog.svg");
  -webkit-mask-image: url("../../elements/navbar/assets/cog.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.smallButton {
  display: inline-block;
  width: 40vw;
  height: 6.1vh;
}
.smallButton input {
  width: 40vw;
  height: 6.1vh;
  background: #FFFED5;
  border-radius: 5px;
  border-style: hidden;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#title {
  margin-top: 5vh;
}
#title h1 {
  margin: 0;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #FFFED5;
}

#calender {
  margin-top: 3.75vh;
  height: 50%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9.1% 90.9%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "heading" "body";
}
#calender .heading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . . .";
  grid-area: heading;
}
#calender .heading .heading-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #FFFED5;
}
#calender .body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  grid-area: body;
}
#calender .body .placeholder {
  margin: 3px 6px;
  border: 1px dashed #FFFED5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calender .body .placeholder div {
  height: 16px;
  width: 16px;
  background-color: #FFFED5;
  mask-image: url("../../screens/calender/assets/plus.svg");
  -webkit-mask-image: url("../../screens/calender/assets/plus.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#actions {
  margin-top: 3.75vh;
  height: 16.72%;
  width: 87%;
}
#actions #currentLesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
}
#actions #quickActions {
  display: flex;
  margin-top: 2vh;
}
#actions #quickActions div.action {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#actions #quickActions div.action span {
  margin-top: 1vh;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFED5;
}

/*# sourceMappingURL=calender.css.map */
