@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../../www/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../../www/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../../www/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../../www/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("../../../www/core/font/IBMPlexSansThai-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSansThaiLooped";
  src: url("../../../www/core/font/IBMPlexSansThaiLooped-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #1B1B1B;
}

hu-navbar {
  position: absolute;
  width: 107.5%;
  height: 17.188%;
  left: -3.889%;
  top: 88.75%;
  background: #111111;
  border-radius: 203px;
}
hu-navbar .navbar_icons {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 18.18%;
}
hu-navbar .navbar_icons div {
  margin: 0 9.167%;
}
hu-navbar .navbar_icons div.current {
  background-color: #FEE402 !important;
}
hu-navbar .navbar_icons #navbar_stats {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/www/elements/navbar/assets/bar-chart.svg");
  -webkit-mask-image: url("/www/elements/navbar/assets/bar-chart.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_calender {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/www/elements/navbar/assets/calendar.svg");
  -webkit-mask-image: url("/www/elements/navbar/assets/calendar.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
hu-navbar .navbar_icons #navbar_settings {
  height: 5vh;
  width: 8.889vw;
  background-color: #FFFED5;
  mask-image: url("/www/elements/navbar/assets/cog.svg");
  -webkit-mask-image: url("/www/elements/navbar/assets/cog.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

hu-button {
  display: inline-block;
  width: 135px;
  height: 39px;
}
hu-button input {
  width: 135px;
  height: 39px;
  background: #FFFED5;
  border-radius: 5px;
  border-style: hidden;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
}

hu-togglebutton {
  display: inline-block;
}
hu-togglebutton .circle {
  width: 24px;
  height: 24px;
  border-radius: 300px;
  position: relative;
  top: 3.9999975px;
}
hu-togglebutton .togglebutton {
  margin: 0;
  width: 60px;
  height: 31.99998px;
  display: inline-block;
  border: 2px solid #111111;
  border-radius: 300px;
}
hu-togglebutton .togglebutton.toggled {
  background: #FFFED5;
}
hu-togglebutton .togglebutton.toggled .circle {
  background: #1C1C1C;
  left: 32px;
  transition: left 0.2s ease-out;
}
hu-togglebutton .togglebutton {
  background: #1C1C1C;
}
hu-togglebutton .togglebutton .circle {
  background: #FFFED5;
  left: 4px;
  transition: left 0.2s ease-out;
}
hu-togglebutton label {
  display: none;
}
hu-togglebutton input {
  visibility: hidden;
}

hu-dropdown {
  display: inline-block;
}
hu-dropdown .hu-dropdown-title {
  background: #1C1C1C;
  border: 1px solid #FFFED5;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}
hu-dropdown .hu-dropdown-title .hu-dropdown-title-inner {
  margin-left: 8.5106382979px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
hu-dropdown .hu-dropdown-title .hu-dropdown-title-inner span.hu-dropdown-title-color {
  height: 30px;
  min-width: 30px;
  border: 1px solid #FFFED5;
  border-radius: 5px;
}
hu-dropdown .hu-dropdown-title .hu-dropdown-title-inner span.hu-dropdown-title-text {
  display: inline-block;
  margin-left: 6px;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
}
hu-dropdown .hu-dropdown-title .hu-dropdown-title-downarrow {
  min-width: 30px;
  height: 30px;
  height: 30px;
  width: 30px;
  background-color: #FFFED5;
  mask-image: url("/www/elements/dropdown/assets/chevron-down.svg");
  -webkit-mask-image: url("/www/elements/dropdown/assets/chevron-down.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-right: 8.5106382979px;
}
hu-dropdown .hu-dropdown-options-container {
  position: absolute;
  width: 200px;
  max-height: 183px;
  background: #1C1C1C;
  border: 1px solid #111111;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0px;
  margin-top: -3px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options {
  width: 96%;
  max-height: 183px;
  overflow-y: scroll;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options::-webkit-scrollbar {
  width: 3px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options::-webkit-scrollbar-thumb {
  background: #FFFED5;
  width: 3px;
  border-radius: 5px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 13px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options div[hu-option] {
  margin: 1.5% 0;
  padding-left: 8.5106382979px;
  height: 48px;
  display: flex;
  align-items: center;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options div[hu-option]:first-child {
  margin-top: 3%;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options div[hu-option]:last-child {
  margin-bottom: 3%;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options div[hu-option] div {
  height: 30px;
  width: 30px;
  border: 1px solid #FFFED5;
  border-radius: 5px;
}
hu-dropdown .hu-dropdown-options-container .hu-dropdown-options div[hu-option] span {
  margin-left: 3%;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
}

hu-inputtext {
  display: inline-block;
}
hu-inputtext .hu-input {
  background: transparent;
  width: 120%;
  height: 100%;
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
  border: 0;
  border-bottom: 1px solid #FFFED5;
  padding: 0 8px 7px 8px;
}
hu-inputtext .hu-input::placeholder {
  font-family: IBMPlexSansThaiLooped, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFED5;
}

/*# sourceMappingURL=calender.css.map */
