@import "../../elements/navbar/navbar";
@import "../../elements/button/button";
@import "../../elements/toggleButton/toggleButton";
@import "../../elements/dropdown/dropdown";
@import "../../elements/inputText/inputText";
@import "../../elements/inputDate/inputDate";
@import "../../elements/inputTime/inputTime";
@import "../../elements/calenderVisual/calenderVisual";

@include resetDefaultPage();

html{
  background-color: #1B1B1B;
}

hu-navbar{
  @include navbar();
}
.smallButton{
  @include button(40vw,6.1vh);
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}
//Title Section
#title{
  margin-top: 5vh;
  h1{
    margin: 0;
    @include largeHeading()
  }
}

//Actions Section
#actions{
  margin-top: 3.75vh;
  height: 16.72%;
  width: 87%;

  #currentLesson{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include normalText();
  }
  #quickActions{
    display: flex;
    margin-top: 2vh;
    div.action{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
        margin-top: 1vh;
        @include smallText();
      }
    }
  }
}

